<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="{{ base_path }}/assets/js/plugins/jquery.fitvids.js"></script>
<script src="{{ base_path }}/assets/js/plugins/jquery.smooth-scroll.min.js"></script>
<script src="{{ base_path }}/assets/js/plugins/stickyfill.min.js"></script>
<script src="{{ base_path }}/assets/js/plugins/jquery.greedy-navigation.js"></script>
<script src="{{ base_path }}/assets/js/_main.js"></script>
<script src="{{ base_path }}/assets/js/dark-mode.js"></script>
<script src="{{ base_path }}/assets/js/color-switcher.js"></script>
<script src="{{ base_path }}/assets/js/accessibility.js"></script>
<script src="{{ base_path }}/assets/js/navigation-captcha.js"></script>
<script src="{{ base_path }}/assets/js/protected-access.js"></script>
<script src="{{ base_path }}/assets/js/content-protection.js"></script>

<!-- Analytics helper and cookie consent (load analytics after consent) -->
<script src="{{ base_path }}/assets/js/analytics.js"></script>
<script>
	// expose base path for runtime scripts
	window.base_path = '{{ base_path }}';
</script>
<script src="{{ base_path }}/assets/js/cookie-consent.js"></script>

{% include analytics.html %}
{% include /comments-providers/scripts.html %}



